/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import "../node_modules/font-awesome/scss/font-awesome.scss";

.table {
	margin-bottom: 0px;
	thead th {
		background: #94D3E1;
	}
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 600px;
		margin: 1.75rem auto;
	}
}

.modal-header {
	padding: 0.5rem 1rem;
	background: lightgray;
}

.modal-body {
	font-size: 12px;
	
	.table {
		td, th {
			padding: 0.25rem;
			border: none;
		}
		
		th {
			background: #ffc107;
		}
	}
	
	
}

.btn {
	font-size: 12px;
}

.btn-group {
	border: 1px solid lightgray;
	border-radius: 6px;
	overflow: hidden;
}
