<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Fooding journal App">
		<base href="<%= htmlWebpackPlugin.options.baseHref %>">
		<title>Fooding Journal</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="styles.scss">
		
		<script src="./assets/libs/jquery.min.js"></script>
		<script src="./assets/libs/bootstrap.min.js"></script>
	</head>

	<body>
		<app-root>Loading ...</app-root>
	</body>

</html>